/* Styles for Medicare LifeSense banners and landing pages. */

.ls-bg-gradient {
  background-image: linear-gradient(315deg, #d2e7f9, #f9f9f9, #eaf4fc);
  background-repeat: no-repeat;
}

#lifesense-home-banner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 130px;
  margin: 20px 0 40px;
  background-size: cover;
}

#lifesense-home-banner img {
  height: 100px;
}

#lifesense-home-banner h3,
#lifesense-home-banner p {
  color: #fff;
  margin: 0 20px;
}

#lifesense-home-banner p {
  font-size: 20px;
}

#lifesense-home-banner img,
#lifesense-home-banner button {
  margin: 0 20px;
}

a:hover #lifesense-home-banner h3,
a:hover #lifesense-home-banner button {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #lifesense-home-banner {
    height: 170px;
  }

  #lifesense-home-banner img {
    height: 130px;
  }

  #lifesense-home-banner button {
    font-size: 16px;
  }
}

/* The main Medicare LifeSense landing page. */

#lifesense-app-banner-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background-image: url("https://www.flemingmedical.ie/content/files/images/banner-images/wavy-blue-header-background-v2.svg");
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
}

#wavy-background {
  width: 100%;
}

#lifesense-app-header {
  width: 90%;
  max-width: 1000px;
}

.app-icon-sm {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 13px;
  height: 50px;
  margin: 0 20px -16px 0;
}

@media screen and (min-width: 500px) {
  #lifesense-app-banner-container {
    height: 350px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  #lifesense-app-banner-container {
    margin-top: 2px;
    height: 550px;
  }

  #lifesense-app-header {
    width: 78%;
    top: 56%;
  }
}

/* Track, Learn, Perform landing page. */

#tlp-banner {
  text-align: center;
}

#tlp-banner img {
  width: 350px;
  max-width: 85%;
  margin-bottom: 40px;
}

#tlp-banner h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

#tlp-banner p {
  font-weight: 700;
  font-size: 30px;
  max-width: 700px;
  color: #bbb;
  margin: 0 auto;
  line-height: 1.5em;
}

.h-lifesense {
  width: 100%;
  line-height: 1.5em;
  text-transform: unset;
  color: var(--ls-blue);
  font-weight: 700;
}

h2.h-lifesense {
  font-size: 30px;
  margin-bottom: 20px;
}

#lifesense-app-links {
  text-align: center;
  margin-bottom: 30px;
}

.product-link-card:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  #lifesense-app-links {
    text-align: left;
  }
}
