/* Styles controlling the login and customer account pages (also check legacy CSS) */

#loginPage, #forgotPasswordPage {
    font-size: 16px;
}

#loginPage .semicolumn {
    width: 100%;
}

.product-to-return .row-comment {
    display: none;
}

.btn-profile-container {
    margin: 2px 0px ;
}

.btn-profile-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.btn-profile {
    margin-bottom: 2px; 
    flex-basis: 100%;
}

/* Custom invoice footer */
.profile-page-cnt .history-details::after {
    background-image: url('https://www.flemingmedical.ie/content/files/images/invoice-footer-ireland-v1.svg');
    padding: 0;
    min-height: 120px;
    margin: 10px 0;
}

@media screen and (min-width: 375px) {
    .btn-profile {
        flex-basis: 49%;
    }
}

@media screen and (min-width: 475px) {
    .btn-profile {
        flex-basis: 49.5%;
    }
}

@media screen and (min-width: 768px) {
    .btn-profile {
        flex-basis: 32.5%;
    }
}

@media screen and (min-width: 1024px) {
    .btn-profile-container {
        margin: 5px 0px;
    }
    .btn-profile {
        flex-basis: 19.5%;
    }
}
