/* Styles for the injected header and footer strip banners */

#covid {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to top, #ffe540, #ffee00);
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

#covid span {
  display: inline-block;
  margin-left: -5px;
}

#covidClose {
  position: absolute;
  cursor: pointer;
  color: #666;
  top: 10px;
  right: 10px;
}

header.sticky-mode #covid {
  display: none;
}

.stockists {
  color: #fff;
  background-color: var(--fm-lightblue);
  font-size: 16px;
}

.stockists .center {
  display: flex;
  align-items: center;
}

.stockists .fa-map-signs {
  display: none;
  margin-right: 20px;
  font-size: 22px;
}

.stockists .fa-map-marked-alt {
  margin-right: 10px;
  font-size: 20px;
}

.stockists a {
  display: flex;
  margin-left: 20px;
  text-transform: uppercase;
  color: var(--fm-lightblue);
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 4px 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.4s;
}

.stockists a:hover {
  color: #fff;
  background-color: var(--fm-blue);
}

.stockists a span:nth-child(3) {
  display: none;
}

@media screen and (min-width: 568px) {
  .stockists .fa-map-signs {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #covid {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .stockists a span:nth-child(3) {
    display: block;
  }
  .stockists a span:nth-child(2) {
    display: none;
  }

  #covid span {
    margin-left: 0;
  }
  #covidClose {
    right: 20px;
  }
}
